openapi: 3.2.0
info:
  title: Leadspace Results API
  contact:
    name: Leadspace Support
    url: https://support.leadspace.com/hc/en-us
    email: support@leadspace.com
  termsOfService: https://www.leadspace.com/service-support-terms
  version: '1.0'
  description: 'Operations tagged Results across 3 of this provider''s published API definitions: leadspace-discovery-openapi.yml, leadspace-enrichment-openapi.yml, leadspace-intent-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://apigw.leadspace.com
  description: Leadspace API gateway (production)
security:
- bearerAuth: []
tags:
- name: Results
  description: Polling for asynchronous discovery results
paths:
  /v1/expansion/results/{bulkId}:
    get:
      operationId: getDiscoveryResults
      summary: Poll for bulk discovery results
      tags:
      - Results
      parameters:
      - name: bulkId
        in: path
        required: true
        description: The Leadspace bulk identifier returned when the job was accepted
        schema:
          type: string
      responses:
        '200':
          description: Request is done
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiscoveryResults'
        '204':
          description: Request is still processing
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Results not found
        '500':
          $ref: '#/components/responses/ServerError'
    servers:
    - url: https://apigw.leadspace.com
      description: Leadspace API gateway (production)
  /v3/enrichment/results/{bulkId}:
    get:
      operationId: getBulkEnrichmentResults
      summary: Poll for bulk enrichment results
      description: Retrieves the results of a previously submitted bulk enrichment job.
      tags:
      - Results
      parameters:
      - name: bulkId
        in: path
        required: true
        description: The Leadspace bulk identifier returned when the job was accepted
        schema:
          type: string
      responses:
        '200':
          description: The request is done
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkResults'
        '204':
          description: The request is still processing
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: The results are not found
        '500':
          $ref: '#/components/responses/ServerError'
    servers:
    - url: https://apigw.leadspace.com
      description: Leadspace API gateway (production)
  /v1/intent/results/{jobId}:
    get:
      operationId: getIntentResults
      summary: Poll for intent scoring results
      tags:
      - Results
      parameters:
      - name: jobId
        in: path
        required: true
        description: The Leadspace bulk identifier returned when the job was accepted
        schema:
          type: string
      responses:
        '200':
          description: Intent results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntentResults'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/ServerError'
    servers:
    - url: https://apigw.leadspace.com
      description: Leadspace API gateway (production)
components:
  responses:
    Unauthorized:
      description: Unauthorized request (wrong credentials or credentials have expired)
    ServerError:
      description: Server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        tracking_id:
          type: string
        request_timestamp:
          type: string
        details:
          type: string
    DiscoveryResults:
      type: object
      properties:
        results:
          type: array
          description: List of expansion results
          items:
            type: object
            properties:
              status:
                type: string
              external_id:
                type: string
              data:
                type: object
    EnrichedPerson:
      type: object
      properties:
        ug_person_id:
          type: string
          description: Unique Leadspace person identifier
        first_name:
          type: string
        last_name:
          type: string
        title:
          type: string
        department:
          type: string
        level:
          type: string
          enum:
          - C Level
          - Board Level
          - VP Level
          - Director Level
          - Manager Level
          - Staff Level
        email:
          type: string
        original_email:
          type: string
        original_email_verification_status:
          type: string
          enum:
          - VALID
          - INVALID
          - UNKNOWN
          - CATCH-ALL
        verification_status:
          type: string
          enum:
          - Moved
          - Verified
          - Not Verified
        verification_source:
          type: string
          enum:
          - Social
          - Email
          - Social & Email
        linkedin_profile:
          type: string
        phone:
          type: string
        is_retired:
          type: string
        address:
          $ref: '#/components/schemas/EnrichedAddress'
        analytics:
          type: object
          properties:
            job_functions:
              type: array
              items:
                type: string
            technologies:
              type: array
              items:
                type: string
            scores:
              type: array
              items:
                $ref: '#/components/schemas/ProfileScore'
            max_positive_score_profiles:
              type: array
              items:
                type: string
    BulkResults:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/EnrichmentResult'
    ProfileScore:
      type: object
      properties:
        profile_name:
          type: string
        score:
          type: object
          properties:
            value:
              type: number
            bucket:
              type: string
              enum:
              - A
              - B
              - C
              - D
    EnrichedRecord:
      type: object
      properties:
        person:
          $ref: '#/components/schemas/EnrichedPerson'
        company:
          $ref: '#/components/schemas/EnrichedCompany'
        enrichment_status:
          type: string
          enum:
          - Not Enriched
          - Company Enriched
          - Person Enriched
          - Person & Company Enriched
        cdi_matched:
          type: string
        total_scores:
          type: array
          items:
            $ref: '#/components/schemas/ProfileScore'
        max_positive_total_score_profiles:
          type: array
          items:
            type: string
    EnrichedAddress:
      type: object
      properties:
        country:
          type: string
        state:
          type: string
        city:
          type: string
        region:
          type: string
        address:
          type: string
        zipcode:
          type: string
    Error_2:
      type: object
      description: General Leadspace JSON error envelope
      properties:
        error:
          type: string
          description: Error description
        tracking_id:
          type: string
          description: Leadspace tracking identifier for further inspection
        request_timestamp:
          type: string
          description: Timestamp assigned when the request reached Leadspace servers
        details:
          type: string
    EnrichedCompany:
      type: object
      properties:
        ug_company_id:
          type: string
          description: Leadspace unique company identifier
        ls_id:
          type: string
          description: Legacy v3 company identifier that mirrors ug_company_id; scheduled for sunset in 2026
        name:
          type: string
        original_name:
          type: string
        description:
          type: string
        website:
          type: string
        phone:
          type: string
        industry:
          type: string
        sub_industry:
          type: string
        sic:
          type: string
        sicDescription:
          type: string
        naics:
          type: string
        naicsDescription:
          type: string
        ownership:
          type: string
        linkedin_profile:
          type: string
        latitude:
          type: string
        longitude:
          type: string
        primary_location:
          type: string
        address:
          $ref: '#/components/schemas/EnrichedAddress'
        employees:
          type: object
          properties:
            exact:
              type: number
            range:
              type: string
        revenue_dollar:
          type: object
          properties:
            exact:
              type: number
            range:
              type: string
        matching_confidence:
          type: object
          properties:
            level:
              type: string
              enum:
              - HIGH
              - MEDIUM
              - LOW
              - VERY LOW
        family_tree:
          $ref: '#/components/schemas/CompanyFamilyTree'
        department_size:
          $ref: '#/components/schemas/DepartmentSize'
        funding:
          $ref: '#/components/schemas/CompanyFunding'
        investors:
          $ref: '#/components/schemas/CompanyInvestors'
        signals:
          type: object
          properties:
            fortune_500_rank:
              type: number
            fortune_1000_rank:
              type: number
            g2k_rank:
              type: number
        intent_modeling_v4:
          $ref: '#/components/schemas/IntentModeling'
        domain_intent:
          type: string
        specialties:
          type: array
          items:
            type: string
        analytics:
          type: object
          properties:
            installed_base_technologies:
              type: array
              items:
                type: string
            web_site_technologies:
              type: array
              items:
                type: string
            company_technologies_categories:
              type: array
              items:
                type: string
            customTechnologiesCategories:
              type: array
              items:
                type: string
    CompanyFunding:
      type: object
      properties:
        last_round_investor_count:
          type: number
        total_rounds_count:
          type: number
        last_round_date:
          type: string
        last_round_money_raised:
          type: string
        last_round_type:
          type: string
        cb_url:
          type: string
    IntentModeling:
      type: object
      properties:
        model:
          type: string
        model_level:
          type: array
          items:
            type: string
            enum:
            - High
            - Medium
            - Low
            - NO_INTENT
        source:
          type: string
          description: Either LS Intent or Bombora
        cadence:
          type: string
        new_high_intent:
          type: string
        industries:
          type: array
          items:
            type: string
        top_metros:
          type: array
          items:
            type: string
        domain_origins:
          type: array
          items:
            type: string
    CompanyInvestors:
      type: object
      properties:
        cb_url:
          type: string
        last_investor_name:
          type: string
        company_investors:
          type: string
    CompanyFamilyTree:
      type: object
      description: The company hierarchy in addition to the matched company
      properties:
        companies:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum:
                - DU
                - GU
                - SITE
                - PARENT
                - HQ
                - SU
              name:
                type: string
              ls_id:
                type: string
              website:
                type: string
              phone:
                type: string
              sic:
                type: string
              naics:
                type: string
              address:
                $ref: '#/components/schemas/EnrichedAddress'
    DepartmentSize:
      type: object
      properties:
        hr:
          type: number
        sales:
          type: number
        mgmt:
          type: number
        product_mgmt:
          type: number
        it:
          type: number
        administration:
          type: number
        marketing:
          type: number
        operations:
          type: number
        rnd:
          type: number
        business_dev:
          type: number
        finance:
          type: number
    EnrichmentResult:
      type: object
      properties:
        status:
          type: string
          enum:
          - success
          - failure
        external_id:
          type: string
        data:
          $ref: '#/components/schemas/EnrichedRecord'
    IntentData:
      type: object
      properties:
        status:
          type: string
          enum:
          - Success
          - Failure
        domain_used:
          type: string
        domain_intent:
          type: string
          description: Company's top surging intent topics; "No Surging Topics" when empty
        intent_modeling_scores:
          type: object
          properties:
            project_name:
              type: string
            project_score:
              type: string
              description: By default 0-1 No Intent, 1-75 Low, 75-95 Medium, 95-100 High
            surging_topics:
              type: array
              items:
                type: string
    IntentResults:
      type: object
      properties:
        status:
          type: string
          enum:
          - Success
          - Failure
        external_id:
          type: string
        data:
          $ref: '#/components/schemas/IntentData'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Authorization header in the form 'Bearer API_KEY'
x-refined-from:
- leadspace-discovery-openapi.yml
- leadspace-enrichment-openapi.yml
- leadspace-intent-openapi.yml
