openapi: 3.1.0
info:
  title: Leadspace Discovery Authorization Intent API
  description: The Leadspace Discovery (Expansion) API finds net-new contacts inside target accounts. A bulk request expands up to 500 accounts, ranking discovered people against persona, region, and required-contact-information criteria, and returns a polling URI for asynchronous retrieval. This document was generated by API Evangelist from Leadspace's published technical specifications; Leadspace does not publish a machine-readable OpenAPI definition.
  version: '2.0'
  contact:
    name: Leadspace Support
    url: https://support.leadspace.com/hc/en-us
    email: support@leadspace.com
  termsOfService: https://www.leadspace.com/service-support-terms
servers:
- url: https://apigw.leadspace.com
  description: Leadspace API gateway (production)
security:
- bearerAuth: []
tags:
- name: Intent
  description: Buyer-intent scoring and refresh
paths:
  /v1/intent/score/:
    post:
      operationId: scoreCompanyIntent
      summary: Submit companies for intent scoring
      description: Submits a bulk of companies for intent refresh. Company name is required. Returns a polling URI.
      tags:
      - Intent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntentRequest'
      responses:
        '202':
          description: The bulk job has successfully been accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntentAccepted'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '427':
          $ref: '#/components/responses/InsufficientCredits'
        '500':
          $ref: '#/components/responses/ServerError'
components:
  responses:
    InsufficientCredits:
      description: Insufficient credits or program ID is invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Unauthorized request (wrong credentials or credentials have expired)
    ServerError:
      description: Server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadRequest:
      description: The request failed due to insufficient basic input, or the JSON format is invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    IntentRequest:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              company:
                $ref: '#/components/schemas/IntentCompanyInput'
              external_id:
                type: string
        external_bulk_id:
          type: string
    IntentAccepted:
      type: object
      properties:
        id:
          type: string
          description: The polling endpoint URI to extract the bulk results
          examples:
          - /v1/intent/results/a4b6e123-8905-4dff-a966-50c3ce8f78ft
    IntentCompanyInput:
      type: object
      required:
      - name
      properties:
        name:
          type: string
          description: Name of the company (required)
        website:
          type: string
        phone:
          type: string
        address:
          type: object
          properties:
            country:
              type: string
            state:
              type: string
            city:
              type: string
    Error:
      type: object
      properties:
        error:
          type: string
        tracking_id:
          type: string
        request_timestamp:
          type: string
        details:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Authorization header in the form 'Bearer API_KEY'
externalDocs:
  description: Leadspace Discovery API documentation
  url: https://support.leadspace.com/hc/en-us/articles/360011926619-Leadspace-Discovery-API
